.article-hero {
  background-color: #5c48d3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
}

.hero-container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: auto;
}

.article-imgWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -200px;

  & > img {
    // position: absolute;
    //           top: 0px;
    //           left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    // opacity: 0;
    transition-delay: 500ms;
  }
}

.entrepreneurship {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}

.soical-mediaLinks {
  position: sticky;
  top: 100px;
  width: 70px;
  margin-top: 80px;
  display: none;

  .social-item {
    background-color: #ededed;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 8px;
  }
}

.article-content {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.article-category {
  text-transform: uppercase;
  font-size: 12px;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: #5c48d3;
  padding-bottom: 8px;
  padding-left: 1px;
}
.article-header {
  font-size: 58px;
  line-height: 68px;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;

  @media only screen and (max-width: 599px) {
    font-size: 40px;
    line-height: 54px;
  }
}

.article-owner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;

  & > div {
    width: 30px;
  }

  p {
    font-size: 19px;
    line-height: 25px;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
    color: grey;
    font-size: 13px;
  }
}

.article-story {
  font-size: 19px;
  line-height: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 33px;
  color: #190d33;

  p {
    padding: 10px 0 10px 0;
  }

  h2 {
    padding: 60px 0 20px 0;
    position: relative;

    &::before {
      content: '';
      width: 25px;
      height: 8px;
      background-color: #fcc01a;
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 6px;
      border-radius: 5px;
    }
  }

  h3 {
    padding: 30px 0 5px 0;
  }

  ul {
    margin: 10px 0 25px 35px;
    color: #000;

    &:first-of-type {
      list-style-type: disc;
      margin-left: 20px;
      color: #fcc01a;

      & > li:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    li {
      margin-bottom: 10px;
    }
  }
}

.article-writer {
  font-size: 21px;
  line-height: 24px;
  padding-top: 4px;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 700;
}

.share-article {
  background-color: #fafafc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
  padding: 45px 0px 130px 25px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__header {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 4px;
    display: inline-block;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
}
.share-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;

  &__item {
    background-color: #ededed;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.articles-lists {
  background-color: #5c48d3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
  position: relative;
  height: auto;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__wrapper {
    margin-top: -200px;
    position: relative;
  }
}

.articles-lists__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-grid {
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  margin: 10px auto;
  width: calc(100% - 10px);
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: rgb(39 44 49 / 6%) 8px 14px 38px, rgb(39 44 49 / 3%) 1px 3px 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.article-link {
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: auto;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border-radius: 10px;

  &:hover {
    .article-layover {
      opacity: 1;
    }
  }
}
.article-image-wrapper {
  height: 245px;

  & > img {
    //     position: absolute;
    // top: 0px;
    // left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
  }
}

.article-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 25px;

  &__category {
    text-transform: uppercase;
    font-size: 12px;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    font-weight: bold;
    color: #5c48d3;
    padding-bottom: 8px;
    padding-left: 1px;

    @media only screen and (max-width: 599px) {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__title {
    font-size: 23px;
    line-height: 30px;
    display: inline-block;
    padding-bottom: 5px;
    color: #fff;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;

    @media only screen and (max-width: 599px) {
      font-size: 18px;
      line-height: 24px;
    }

    & > div {
      color: #190d33;
    }
  }

  &__blank {
    height: 35px;
  }

  &__owner {
    position: absolute;
    bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    p {
      font-size: 19px;
      line-height: 25px;
      color: #fff;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      color: grey;
      font-size: 13px;
    }
    div {
      width: 30px;
    }
  }
}

.article-layover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 25px 30px;
  background-color: #190d33;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #190d33;
  box-shadow: rgb(0 0 0 / 7%) 1px 2px 15px;

  &__category {
    text-transform: uppercase;
    font-size: 12px;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    font-weight: bold;
    color: #5c48d3;
    padding-bottom: 8px;
    padding-left: 1px;
    color: #fff;
  }

  &__title {
    font-size: 25px;
    line-height: 35px;
    color: #fff;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    color: #fff;
  }
  &__owner {
    position: absolute;
    bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    p {
      font-size: 19px;
      line-height: 25px;
      color: #fff;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      color: grey;
      font-size: 13px;
      color: #fff;
    }

    div {
      width: 30px;
    }
  }
  &__text {
    font-size: 19px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__button {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    outline-style: none;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-size: 17px;
    line-height: 20px;
    color: #5c48d3;
    background-color: #fff;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    background-color: #fff;
    color: #5c48d3;

    span {
      padding: 13px 24px;
      display: block;
    }
  }
}
