// Header Section
// ------------------------------------------------------------------
.header {
  // background: rgb(255, 255, 255);
  background: #5c48d3;
  height: 110px;
  box-shadow: rgb(0 0 0 / 0%) 0px 0.2rem 0.5rem 0px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__container {
    max-width: 1350px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.scroll {
  background: rgb(255, 255, 255);
  height: 70px;
  box-shadow: rgb(0 0 0 / 6%) 0px 0.2rem 0.5rem 0px;
}

.logo {
  height: 37px;
  z-index: 2;
  opacity: 1;
  position: relative;
}

.blank {
  flex: 1;
  margin-left: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;

  button {
    background-color: transparent;
    border-style: none;
  }

  &__buttonItem {
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: color 0.2s ease-in-out 0s;
    text-decoration: none;
    color: #fff;
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-right: 35px;
    line-height: 20px;
  }

  &__link {
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: color 0.2s ease-in-out 0s;
    text-decoration: none;
    color: #fff;
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-right: 35px;
    line-height: 20px;
  }

  &__secondaryButton {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
    transition-property: all;
    transition-duration: 0.3s;
    outline-style: none;
    transition-timing-function: ease-in-out;
    font-size: 17px;
    line-height: 20px;
    color: #5c48d3;
    background-color: #fff;
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;

    span {
      padding: 13px 24px;
      display: block;
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      inset: 0px;
      transform: scaleX(0);
      transform-origin: 0px 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.hamburger-menu {
  display: none;

  &__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    a {
      margin-bottom: 30px;
      position: relative;
      text-align: center;
      margin-right: 0;

      &:not(last-child):after {
        content: '';
        position: absolute;
        background-color: #fcc01a;
        height: 5px;
        width: 30px;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
      }
    }
  }
}

.close-menu-btn {
  cursor: pointer;
  color: #fafafc;
  font-size: 66px;
  position: absolute;
  top: 20px;
  right: 100px;
}

.scroll {
  .nav {
    .nav__link {
      color: #5c48d3;
    }
    .nav__buttonItem {
      color: #5c48d3;
    }
    .nav__secondaryButton {
      color: #fff;
      background-color: #5c48d3;
    }
  }
  .menu-btn {
    &__line {
      background: #5c48d3;
    }
  }
}

.logo.show-logo {
  display: block;
}

.hide-logo {
  display: none;
}
.logo2 {
  display: none;
}

.menu-btn {
  width: 35px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  &__line {
    height: 4px;
    width: 100%;

    border-radius: 5px;
    background-color: #fff;
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }
}

// Hero section
.hero {
  background-color: $primary-color;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__grid {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    &Item1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;

      &__title {
        font-size: 58px;
        line-height: 68px;
        color: #fff;
        font-family: HK Compakt;
        font-style: normal;
        font-weight: 700;
      }

      &__info {
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        font-family: HK Compakt;
        font-style: normal;
        font-weight: 500;
        margin-top: 30px;
        text-align: center;
      }

      &__buttonBox {
        margin-top: 32px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      &__button {
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        outline-style: none;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        font-size: 19px;
        line-height: 31px;
        color: #5c48d3;
        background-color: #fff;
        font-family: HK Compakt;
        font-style: normal;
        font-weight: 700;
        min-width: 210px;
        border: none;

        &::before {
          background-color: #fafafc;
          content: '';
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
        }

        & > span {
          padding: 16px 35px;
          display: block;
          position: relative;
        }
      }
    }

    &Item2 {
      flex: 1 1 0%;
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
      display: flex;
      align-items: center;
      justify-content: center;

      .hero__videoContainer {
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.99;
        -webkit-mask-image: -webkit-radial-gradient(center, white, black);
        object-fit: cover;
        background-size: cover;
        cursor: pointer;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        width: 623px;
        height: 448px;
        border-radius: 5px;
        background-position: 100% center;
        overflow: hidden;

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: none;
          background-position: 100% center;
          background-repeat: no-repeat;
          background-size: cover;
          background-position-x: 100%;
          background-position-y: center;
          z-index: -100;
          background-image: url('/assets/images/image14.webp');
          opacity: 1;
        }
      }
    }
  }
}

// Job section
.job {
  &__item1 {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 110px;
    padding-bottom: 110px;

    &__container {
      margin: 0 auto;
      max-width: 1350px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: auto;
    }
  }

  &__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &Content {
      text-align: center;
      max-width: 730px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 50px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 970px;
      margin-bottom: 72px;
      padding-bottom: 0;

      &__upper {
        font-size: 46px;
        line-height: 53px;
        display: inline-block;
        color: #190d33;
        font-family: HK Compakt;
        font-style: normal;
        font-weight: 700;

        &__secondary {
          color: $primary-color;
        }
      }

      &__lower {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 4px;
        display: inline-block;
        color: #190d33;
        font-family: HK Compakt;
        font-style: normal;
        font-weight: 700;
        margin: 15px 0 20px;
        font-weight: lighter;
      }
    }
  }

  &__grid {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    &__imgWrapper {
      position: relative;
      overflow: hidden;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      width: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      height: 320px;
    }

    &__img {
      // position: absolute;
      // top: 0px;
      // left: 0px;
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // object-position: center center;
      // opacity: 0;
      // transition-delay: 500ms;
    }
  }

  &__grid__1 {
    margin-bottom: 32px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 543px;
  }

  &__grid__2 {
    width: 64px;
  }

  &__grid__3 {
    margin-bottom: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  &__grid__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: initial;
    -ms-flex-pack: initial;
    justify-content: initial;

    &__box {
      min-height: 29px;
      border-radius: 3px;
      padding: 5px 8px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.42);
      margin-right: 8px;
      background: rgba(233, 233, 240, 0.8);
      margin-bottom: 10px;
    }
  }

  &__grid__headerText {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    -webkit-letter-spacing: 1.2px;
    -moz-letter-spacing: 1.2px;
    -ms-letter-spacing: 1.2px;
    letter-spacing: 1.2px;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 0;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &__grid__subHeader {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 4px;
    display: inline-block;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
  }

  &__grid__info {
    font-size: 19px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
  }

  &__grid__button {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    outline-style: none;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-size: 19px;
    line-height: 31px;
    color: #fff;
    background-color: #5c48d3;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.1);
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }

    & > span {
      display: block;
      padding: 16px 35px;
      position: relative;
    }
  }
}

.hero-gray-bg {
  &:before {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    );
    position: absolute;
    content: '';
    display: block;
    inset: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
  }
}

.play-hero-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.video-modal .modal-content {
  background-color: transparent;
  border: none;
}

.video-modal .modal-content {
  position: relative;
}

.close-modal-btn {
  position: absolute;
  right: -120px;
  top: -20px;
  background-color: rgba(255, 255, 255, 0.15);

  width: 60px;
  height: 60px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-mask-image: -webkit-radial-gradient(center, white, black);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  outline: none;

  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 900px) {
  .video-modal .modal-dialog {
    max-width: 800px;
  }
}

// technology section
.technology {
  background-color: #fafafc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &Box {
      text-align: center;
      max-width: 730px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 50px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 970px;
      margin-bottom: 40px;
    }

    &__1 {
      font-size: 46px;
      line-height: 53px;
      display: inline-block;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 700;

      & > span {
        color: $primary-color;
      }
    }

    &__2 {
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 4px;
      display: inline-block;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 700;
      margin: 15px 0 20px;
      font-weight: lighter;
    }
  }

  &__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &__item {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    max-width: 185px;
    max-height: 70px;
    margin: 60px 20px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__itemWrapper {
    position: relative;

    & > div[role='button']:hover + .technology__itemInfo {
      opacity: 1;
      display: block;
      visibility: visible;
    }
  }

  &__itemInfo {
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    z-index: 3;
    visibility: hidden;
    display: none;
    opacity: 0;
    background-color: #190d33;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 20%);

    &__title {
      font-size: 19px;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      padding: 0;
      color: #fff;
      font-weight: bold;
    }

    &__about {
      font-size: 19px;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      padding: 0;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__name {
    font-size: 19px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
    color: #9d9d9d;
    font-size: 16px;
  }
}

// training section
.training {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__headerBox {
    text-align: center;
    max-width: 730px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1045px;
    margin-bottom: 40px;
  }

  &__header__title {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;

    & > span {
      color: $primary-color;
    }
  }

  &__content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content__left {
    margin-bottom: 32px;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;

    &__text {
      font-size: 19px;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
    }
  }

  .content__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;

    &__text {
      font-size: 19px;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      padding-top: 0;
    }

    &__text2 {
      font-size: 19px;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      padding-top: 0;
      padding-bottom: 5px;

      & > span {
        font-weight: bold;
      }
    }

    &__link {
      font-size: 19px;
      line-height: 28px;
      -webkit-text-decoration: none;
      text-decoration: none;
      cursor: pointer;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      color: #5c48d3;
    }
  }

  .content__marking {
    width: 26px;
    height: 6px;
    margin-right: 12px;
    margin-top: 14px;
    border-radius: 50px;
    background-color: #fcc01a;
    margin-top: 12px;
    min-width: 22px;
  }

  .content__middle {
    width: 64px;
  }

  .content__right {
    margin-bottom: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    &__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-around;
      -webkit-justify-content: space-around;
      -ms-flex-pack: space-around;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

  .content__image__wrapper {
    position: relative;
    overflow: hidden;
    width: 30%;
  }
  .content__right__image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    transition-delay: 500ms;
    vertical-align: middle;
  }
}

// bootcampHome section
.bootcampHome {
  background-color: #fafafc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }

  &__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__container {
    text-align: center;
    max-width: 730px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__title {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;

    & > span {
      color: $primary-color;
    }
  }

  &__reviews {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px;
  }

  &__reviewItem {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }

  .image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 18px 0;
  }

  .image-wrapper {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35%;
    max-width: 135px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .review-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .rating-number {
    font-size: 19px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 22px;
    & > span {
      color: #5c48d3;
      font-size: 30px;
    }
  }
  .reviewer {
    font-size: 19px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 15px;
    line-height: 22px;
  }
  .rating-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    & > a {
      font-size: 19px;
      line-height: 28px;
      -webkit-text-decoration: none;
      text-decoration: none;
      cursor: pointer;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 500;
      color: #5c48d3;
      font-size: 15px;
      line-height: 18px;
    }
  }
  .raitng-star {
    margin-right: 10px;
  }
  .star {
    margin-right: 2px;
  }
}

// Founders section
.founders {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;

  &__container {
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: auto;
  }
  &__header {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 90px;
    display: inline;

    & > br {
      display: none;
    }
  }
  .headerText {
    color: #fcc01a;
    display: inline;
  }
}

.founders__profile {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.founders__profile1 {
  margin-bottom: 32px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.founders__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.founders__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;

  & .image-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin-right: 25px;
    height: 140px;
    width: 140px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    overflow: hidden;
    position: relative;
    opacity: 0.99;

    &.founder2 {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease 250ms;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -100;
        background-image: url('/assets/images/PortraitFarid.webp');
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.5s ease 250ms;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -100;
      background-image: url('/assets/images/PortraitXavier.webp');
    }
  }

  & .name-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }

  & .upper-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    & > h3 {
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 4px;
      display: inline-block;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 700;
      padding-bottom: 0;
    }
  }

  & .lower-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    & .name-bar {
      width: 26px;
      height: 6px;
      margin-right: 12px;
      margin-top: 14px;
      border-radius: 50px;
      background-color: #fcc01a;
    }

    & .tilte {
      font-size: 21px;
      line-height: 24px;
      padding-top: 4px;
      color: #190d33;
      font-family: HK Compakt;
      font-style: normal;
      font-weight: 700;
    }
  }
}

.founders__info {
  font-size: 19px;
  line-height: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 500;

  & > a {
    font-size: 19px;
    line-height: 28px;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
    color: #5c48d3;
  }
}

.founders__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  & .social-links {
    background-color: #ededed;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

// supporters sections

.supporter {
  background-color: rgb(250, 250, 252);
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
}

.supporter__container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: auto;
}
.supporter__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  h2 {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: rgb(25, 13, 51);
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    padding-bottom: 60px;
  }
}

.supporter__brand {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.brand-img {
  width: 250px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.brand-img__wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

  margin-bottom: 62px;

  &.brand-img__wrapper1 {
    width: 250px;
    height: 43px;
  }
  &.brand-img__wrapper2 {
    width: 80px;
    height: 70px;
  }
  &.brand-img__wrapper3 {
    width: 70px;
    height: 70px;
  }

  img {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
  }
}

// companies

.company {
  background-color: #fafafc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
}

.company__container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: auto;

  h2 {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: rgb(25, 13, 51);
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    padding-bottom: 60px;

    span {
      color: #5c48d3;
    }
  }
}

.company__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.company__img {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  max-height: 70px;
  margin: 20px;
}

.company__imgWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 128px;
  height: 40px;

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    opacity: 1;
    transition-delay: 500ms;
    vertical-align: middle;
  }
}

// information

.information-meeting {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
  position: relative;
  padding-bottom: 150px;
}

.information-meeting__container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: auto;
}

.info-left {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-left__ctx {
  margin-bottom: 32px;
  flex: 4 1 0%;
}

.info-ctx-header {
  font-size: 46px;
  line-height: 53px;
  display: inline-block;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 20px;
}

.info-ctx-subHeader {
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 4px;
  display: inline-block;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}

.info-ctx-text {
  font-size: 19px;
  line-height: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #190d33;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 0;

  &:nth-of-type(2) {
    padding-bottom: 40px;
  }
}

.info-left__blank {
  width: 64px;
}

.info-left__blank2 {
  margin-bottom: 0px;
  flex: 3 1 0%;
}

.info-right {
  position: absolute;
  display: none;
}

// podcast

.podcast {
  background-color: #5c48d3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
}

.podcast__container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: auto;
}

.podcast-intro {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.podcast-intro__img {
  margin-bottom: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  img {
    width: 100%;
    height: 300px;
    margin-bottom: -3px;
  }
}

.podcast-intro__info {
  margin-bottom: 0px;
  flex: 3 1 0%;
}

.podcast-intro__infoWrapper {
  margin-bottom: 50px;

  h2 {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
  }

  p {
    font-size: 19px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 500;
  }
}

.podcast-audio {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px,
    rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease 0s;
}

.podcast-audio__wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.podcast-play-btn {
  cursor: pointer;
  width: 55px;
  height: 55px;
}

.podcast-episode {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 20px;
}

.podcast-episode__info {
  flex: 1 1 0%;
}

.podcast-date-duration {
  line-height: 25px;
  font-family: 'HK Compakt';
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 16px;
  color: rgb(25, 13, 51);
}

.podcast-title {
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 4px;
  display: inline-block;
  color: rgb(25, 13, 51);
  font-family: 'HK Compakt';
  font-style: normal;
  font-weight: 700;
}

.podcast-speaker {
  display: flex;
  align-content: center;
  margin-top: 15px;
}

.podcast-dash {
  width: 26px;
  height: 6px;
  margin-right: 12px;
  margin-top: 14px;
  border-radius: 50px;
  background-color: rgb(252, 192, 26);

  p {
    font-size: 21px;
    line-height: 24px;
    padding-top: 4px;
    color: rgb(25, 13, 51);
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
  }
}

.podcast-discover {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;

  span {
    font-size: 19px;
    line-height: 28px;
    text-decoration: none;
    padding-right: 8px;
    color: rgb(92, 72, 211);
    cursor: pointer;
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    display: none;
  }
}

.podcast-btn {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1 1 0%;
  margin: 50px 0px 30px;

  a {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    outline-style: none;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-size: 19px;
    line-height: 31px;
    color: #5c48d3;
    background-color: #fff;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;

    span {
      padding: 16px 35px;
      display: block;

      position: relative;
    }
  }
}

// article

.article-section {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 110px;
  padding-bottom: 110px;
}

.article-section__container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: auto;
}

.article-section__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-header-wrapper {
  text-align: center;
  max-width: 730px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  h2 {
    font-size: 46px;
    line-height: 53px;
    display: inline-block;
    color: #190d33;
    font-family: HK Compakt;
    font-style: normal;
    font-weight: 700;

    span {
      color: #5c48d3;
    }
  }
}

.article-section__btn {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1 1 0%;
  margin: 50px 0px 30px;

  a {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    transition-property: all;
    transition-duration: 0.3s;
    outline-style: none;
    transition-timing-function: ease-in-out;
    font-size: 19px;
    line-height: 31px;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 72, 211);
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;

    span {
      display: block;
      padding: 17px 40px;
      position: relative;
    }
  }
}

.article-section .article-layover {
  background: #5c48d3;
}

// ready-apply

.apply-session-grid {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px;
}

.ready-apply__grid1 {
  margin-bottom: 32px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ready-title {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgb(255, 255, 255);
  font-family: 'HK Compakt';
  font-style: normal;
  font-weight: 700;
}
.ready-type {
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 4px;
  display: inline-block;
  color: #fff;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 700;
}
.ready-days {
  font-size: 19px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  font-family: 'HK Compakt';
  font-style: normal;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 0px;
}
.ready-date {
  padding-top: 16px;
  padding-bottom: 32px;

  span {
    font-size: 25px;
    line-height: 35px;
    font-family: 'HK Compakt';
    font-style: normal;
    font-weight: 700;
    color: rgb(252, 192, 26);
  }
}
.ready-btn {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline-style: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-size: 19px;
  line-height: 31px;
  color: #5c48d3;
  background-color: #fff;
  font-family: HK Compakt;
  font-style: normal;
  font-weight: 700;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: inline-block;

  span {
    display: block;
    padding: 17px 40px;
    position: relative;
  }
}
.ready-blank .ready-aplly__grid2 {
  width: 64px;
}

.ready-apply__grid3 {
  margin-bottom: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mdoal-video {
  width: 820px;
  height: 415px;
}
