@import 'config';
@import 'home';
@import 'contact';
@import 'faq';
@import 'article';

@font-face {
  font-family: 'HK Compakt';
  src: local('HK Compakt.otf'),
    url('/assets/fonts/HK\ Compakt.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Numans', sans-serif;
}

@import 'mobile';
@import 'contactResponsive';
@import 'faqResponsive';
@import 'articleResponsive';
